html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}
.container {
  width: 92%;
  margin: 0 auto;
}
@media screen and (min-width: 991px) {
  .container {
    width: 960px;
  }
}

.navigation {
  height: 50px;
  display: flex;
  background-color: #4e4e4e;
}
.navigation .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-company {
  font-weight: 700;
}

.horizaontal-view {
  display: flex;
}

.menu-list {
  display: none;
}
@media screen and (min-width: 991px) {
  .menu-list {
    display: flex;
  }
}

.li-navigation {
  margin: 10px;
}
.disabled {
  cursor: not-allowed;
}

.header {
  height: calc(100vh - 50px);
  background-image: url(assets/header.background-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 991px) {
  .header {
    background-image: url(assets/header.background.png);
  }
}

.shadow {
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}
.header .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}
@media screen and (min-width: 991px) {
  .heading {
    padding-right: 350px;
  }
}

.text-header {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-top: 62.19px;
  margin-bottom: 42.84px;
}
.offer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  border: 3px solid #ffffff;
}
@media screen and (min-width: 991px) {
  .offer-btn {
    transition: 1s;
  }
}
@media screen and (min-width: 991px) {
  .offer-btn:hover {
    background: white;
    color: black;
  }
}
.employee-section,
.offer-section {
  padding: 50px 0;
}

.employee-section {
  background-color: white;
}
.our-specialists {
  height: 35px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 78px;
  margin-top: 1px;

  color: #152d41;
}
@media screen and (min-width: 991px) {
  .our-specialists {
    text-align: initial;
  }
}

.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}
@media screen and (min-width: 991px) {
  .employee {
    flex-direction: row;
  }
}
@media screen and (min-width: 991px) {
  .employee:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }
}

.employee-photo {
  border-radius: 50%;
  height: 197px;
  object-fit: cover;
  aspect-ratio: 1;
}

.employee-details {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 991px) {
  .employee-details {
    width: 70%;
  }
}

.employee-details-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
  color: #000000;
}

.employee-details-description {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.offer-section {
  background-color: #405d78;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 991px) {
  .offer-section {
    display: block;
  }
}

.offer-text {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 80px;
  text-align: center;
}
@media screen and (min-width: 991px) {
  .offer-text {
    text-align: initial;
  }
}
.offer-six-photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 63px;
}

.box {
  width: 80%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f1f1f1;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 991px) {
  .box {
    width: 198px;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 991px) {
  .box:hover {
    transform: scale(1.05);
  }
}
.service {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.new {
  font-size: 18px;
  color: #000000;
  margin-top: 3px;
}
@media screen and (min-width: 991px) {
  .new {
    font-size: 18px;
  }
}

.box.with-dot::before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #e07a64;
  left: -25px;
  top: -25px;
  border-radius: 50%;
}
@media screen and (min-width: 991px) {
  .box.with-dot::before {
    width: 22px;
    height: 22px;
    left: -11px;
    top: -11px;
  }
}

.footer {
  height: 120px;
  background: #4e4e4e;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
@media screen and (min-width: 991px) {
  .footer {
    height: 90px;
    padding-bottom: 0px;
  }
}

.footer-text {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
}
@media screen and (min-width: 991px) {
  .footer-text {
    margin-bottom: 0px;
  }
}

.icons {
  margin-left: 20px;
  color: #ffffff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 991px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
